[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docx = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
python-docx = "*"
scipy = "*"
Flask = "*"
Werkzeug = "*"
Cython = "*"

[dev-packages]

[requires]
python_version = "3.9"
